<!doctype html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="js/Snap.svg-0.5.1/dist/snap.svg-min.js"></script>
	<!-- <link rel = "stylesheet" type = "text/css" href="styles/style.css"></link> -->
</head>

<body>
	<h1>Welcome to the matrix</h1>
	<svg id="drawing" height= "600" width= "800" ></svg>
</body>

<script type="text/javascript">
	var draw = Snap('#drawing');

	var bigCirle = draw.circle(150,150,100);

	var drawShape = function(vertexes,tz) {
		var vertexes;
		var scale = 10;
		var x_shift = 200;
		var y_shift = 300;
		var scaled_vertexes = [];

    for (var i = 0; i < vertexes.length; i++) {
    	scaled_vertexes.push([vertexes[i][0]*scale+x_shift,vertexes[i][1]*scale+y_shift]);
    }

		var polygon = draw.paper.polygon(scaled_vertexes);

		polygon
			.attr({
			 	fill: '#fff',
			 	stroke: '#000',
			 	strokeWidth: 2
			 })

		polygon.hover(function(){
			this.attr({
		 	fill: '#f06'
		})
		},function(){
			this.attr({
		 	fill: '#fff'
		 })
   })

	  var x_sum = 0;
	  var y_sum = 0;

		for (var i = 0; i < scaled_vertexes.length; i++) {
			x_sum = x_sum + scaled_vertexes[i][0];
			y_sum = y_sum + scaled_vertexes[i][1];
		}

	  var x_avg = x_sum / scaled_vertexes.length;
	  var y_avg = y_sum / scaled_vertexes.length;
  
	  var tz_id = draw.paper.text(x_avg-15,y_avg+4,tz)
	  	.attr({
	  		'font-size': '8px'
	  	})
	} 

	geometry = [
		<% geometry_hash.each_with_index do |surface_object,i| %>
			<% if surface_object[:zone_name].include? "TZ13" %>
				<% vertex_string = "[" %>

				<% surface_object[:vertexes].each_with_index do |vertex,j| %>
					<% vertex_string << "[#{vertex[:x]},#{vertex[:y]}]" %>
					<% if j != surface_object[:vertexes].length-1 %>
						<% vertex_string << "," %>
					<% end %>
				<% end %>
				<% vertex_string << "]" %>
				<% surface_object_string =  "{surface_name: #{"'"}#{surface_object[:surface_name]}#{"'"}, zone_name: #{"'"}#{surface_object[:zone_name]}#{"'"}, vertexes: #{vertex_string}}," %>
				<%= surface_object_string %>
			<% end %>
		<% end %>
	]

	for (var i = 0; i < geometry.length; i++) {
		drawShape(geometry[i].vertexes,geometry[i].zone_name)
	}


</script>
<style>
	#thermal-zone-floor-plan-container {
		border: 1px solid grey;
	}
</style>
</html>