<!doctype html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!-- <link rel = "stylesheet" type = "text/css" href="styles/style.css"></link> -->
</head>

<body>
	<h1>Welcome to the matrix</h1>
	<canvas id="thermal-zone-floor-plan-container" width="600" height="600"></canvas>
</body>

<script type="text/javascript">
	var canvas = document.getElementById('thermal-zone-floor-plan-container');
	var context = canvas.getContext('2d');

	context.strokeStyle = '#4dadf1';
	context.font = '10px sans-serif';

	var drawShape = function(vertexes,tz,ctx) {
		var vertexes;
		var scale = 10;
		var x_shift = 200;
		var y_shift = 300;

		ctx.fillStyle = '#fff';
		ctx.lineWidth = 5;
		ctx.beginPath();
    ctx.moveTo(vertexes[0].x*scale+x_shift, vertexes[0].y*scale+y_shift);

    for (var i = 1; i < vertexes.length; i++) {
    	ctx.lineTo(vertexes[i].x*scale+x_shift,vertexes[i].y*scale+y_shift)
    }

    ctx.closePath();
    ctx.stroke();
    ctx.fill();

    ctx.textAlign = 'center';
    ctx.fillStyle = 'black';
    x_shift_title = -20;
    y_shift_title = -20;
    ctx.fillText(tz,vertexes[0].x*scale+x_shift+x_shift_title,vertexes[0].y*scale+y_shift+y_shift_title);
	} 

	geometry = [
		<% geometry_hash.each_with_index do |surface_object,i| %>
			<% if surface_object[:zone_name].include? "TZ13" %>
				<% vertex_string = "[" %>

				<% surface_object[:vertexes].each_with_index do |vertex,j| %>
					<% vertex_string << "{x: #{vertex[:x]},y: #{vertex[:y]},z: #{vertex[:z]}}" %>
					<% if j != surface_object[:vertexes].length-1 %>
						<% vertex_string << "," %>
					<% end %>
				<% end %>
				<% vertex_string << "]" %>
				<% surface_object_string =  "{surface_name: #{"'"}#{surface_object[:surface_name]}#{"'"}, zone_name: #{"'"}#{surface_object[:zone_name]}#{"'"}, vertexes: #{vertex_string}}," %>
				<%= surface_object_string %>
			<% end %>
		<% end %>
	]

	for (var i = 0; i < geometry.length; i++) {
		drawShape(geometry[i].vertexes,geometry[i].zone_name,context)
	}

</script>
<style>
	#thermal-zone-floor-plan-container {
		border: 1px solid grey;
	}
</style>
</html>